@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.flight-details-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.header-actions {
  text-align: right;
  margin-bottom: 1rem;
}

.flight-image {
  text-align: center;
  margin-bottom: 2rem;

  img {
    max-height: 400px;
    max-width: 100%;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}

.flight-info {
  p {
    font-size: 1rem;
    margin: 0.5rem 0;

    strong {
      color: $color-secondary;
    }
  }

  .toggle-description {
    margin-top: 1rem;
  }

  .description {
    margin-top: 1rem;
    line-height: $line-height-base;
    color: $color-black;
  }
}
