@use './styles/variables' as *;
@use './styles/mixins' as *;

body {
  background-color: $color-background;
  font-family: $font-family-base;
}


.error-page {
  text-align: center;
  padding: 3rem 1rem;
  background-color: $color-background;
  border: 1px solid $color-error;
  border-radius: $border-radius;
  color: $color-secondary;

  h2 {
    font-size: 1.5rem;
    color: $color-error;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }

  .btn-back {
    @include button-base($color-secondary, $color-white);
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
  }
}
